# Ignore version control system directories
.git

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Environment files
.env
*.env

# Logs and caches
*.log
.cache/
.pytest_cache/

# IDE/editor directories
.vscode/
.idea/

# Misc
.DS_Store
